body {
    font: 12px Arial, sans-serif;
}

#dropZone {
    color: #555;
    font-size: 18px;
    text-align: center;

    width: 400px;
    padding: 50px 0;
    margin: 50px auto;

    background: #eee;
    border: 1px solid #ccc;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#dropZone.hover {
    background: #ddd;
    border-color: #aaa;
}

#dropZone.error {
    background: #faa;
    border-color: #f00;
}

#dropZone.drop {
    background: #afa;
    border-color: #0f0;
}

.drop-form {
    display: flex;
}

.drop-label {
    cursor: pointer;
    /* width: 100%;
    height: 100%; */
}

.drop-input {
    display: none;
}
